<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^/pages/restricted_pages/
    RewriteCond %{HTTP_COOKIE} !authenticated_user=true
    RewriteRule ^.*$ /pages/access_denied.html [L]
</IfModule>

# Set the default index file to be pages/index.html
DirectoryIndex pages/index.html

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 seconds"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </FilesMatch>
</IfModule>
